<% layout("/layouts/boilerplate") -%>

<link rel="stylesheet" href="/css/calculator.css">
<style>
   
</style>

<body>
    <section class="community-page">
        <div class="message-container container-fluid">
            <div class="message-block">
                <h1>Community Page Coming Soon!</h1>
                <p>
                    We’re currently working hard to bring this feature to life. 
                    The Community Page will allow you to:
                </p>
                <ul>
                    <li>Engage in open discussions with like-minded individuals.</li>
                    <li>Share experiences and offer support.</li>
                    <li>Access expert advice and curated resources.</li>
                </ul>
                <p>Stay tuned for updates!</p>
            </div>
        </div>
    </section>
</body>