<% layout("/layouts/boilerplate") -%>

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/calculator.css">

    <body>

        <header>
            <h1>Menstrual Health Education</h1>
            <p>Your trusted source for information about periods, pregnancy, and menstrual health.</p>
        </header>

        

        <section class="tips-tricks-section">
            <div class="container-fluid">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-image-container carousel-item active">
                        <img src="/images/tipsbackground.jpeg" class="d-block w-100" alt="...">
                        <div class="overlay-text">Apply heat pads or take ibuprofen to relieve menstrual cramps.</div>
                        
                      </div>
                      <div class="carousel-item">
                        <img src="/images/tipsbackground.jpeg" class="d-block w-100" alt="...">
                        <div class="overlay-text">Use a menstrual cup to reduce waste and increase comfort.</div>
                      </div>
                      <div class="carousel-item">
                        <img src="/images/tipsbackground.jpeg" class="d-block w-100" alt="...">
                        <div class="overlay-text">Keep a period tracker to better understand your cycle.</div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                
            </div>
        </section>


        <section class="articles-section">
            <div class="container text-center">
                <h2 class="mb-5 text-center">Featured Articles</h2>

                <div class="card-container row row-cols-4">

                    <div class="article-card col">
                        <!-- <img src=" /images/calm-girl.jpg" alt="Article 1"> -->
                        <h3 class="mb-3">Demistify Period Craving</h3>
                        <p class="mb-4">Understand why your body craves specific foods during periods and discover healthy ways to satisfy them</p>
                        <a href="https://www.helpingwomenperiod.org/category/blog/"
                            class="btn btn-primary">Read Article</a>
                    </div>

                    <div class="article-card col">
                        <!-- <img src=" /images/calm-girl.jpg" alt="Article 1"> -->
                        <h3 class="mb-3">Understanding Menstrual Health</h3>
                        <p class="mb-4">Learn about the different phases of the menstrual cycle and how to track
                            your period.</p>
                        <a  href="https://helloclue.com/articles/about-clue/scientific-research-at-clue"
                            class="btn btn-primary">Read Article</a>
                    </div>

                    <div class="article-card col">
                        <!-- <img src=" /images/calm-girl.jpg" alt="Article 1"> -->
                        <h3 class="mb-3">Types of blood</h3>
                        <p class="mb-4">The types of blood during periods can vary in color and consistency, ranging from bright red to brownish and thick to watery, depending on your cycle and overall health</p>
                        <a  href="https://www.medicalnewstoday.com/articles/324848"
                            class="btn btn-primary">Read Article</a>
                    </div>

                    <div class="article-card col">
                        <!-- <img src=" /images/calm-girl.jpg" alt="Article 1"> -->
                        <h3 class="mb-3">Menstrual Health Basics for Teens</h3>
                        <p class="mb-4">This article covers period myths, common concerns, and practical period tips for teenagers.</p>
                        <a href="https://youngwomenshealth.org/menstrual-period-all-guides/"
                            class="btn btn-primary">Read Article</a>
                    </div>

                    <div class="article-card col">
                        <!-- <img src=" /images/calm-girl.jpg" alt="Article 1"> -->
                        <h3 class="mb-3">PCOS and PCOD</h3>
                        <p class="mb-4">Conditions where hormonal imbalances can affect menstrual cycles, leading to irregular periods, ovarian cysts, and other health concerns.</p>
                        <a href="https://www.manipalhospitals.com/varthurroad/blog/know-all-about-polycystic-ovarian-disease/"
                            class="btn btn-primary">Read Article</a>
                    </div>

                    <div class="article-card col">
                        <!-- <img src=" /images/calm-girl.jpg" alt="Article 1"> -->
                        <h3 class="mb-3">Hygience Tips</h3>
                        <p class="mb-4">Maintain good hygiene by washing regularly, using clean products, and wearing breathable clothing to stay fresh and healthy.</p>
                        <a href="https://www.cdc.gov/hygiene/about/menstrual-hygiene.html"
                            class="btn btn-primary">Read Article</a>
                    </div>


                </div>

            </div>
            </div>
        </section>

        <section class="video-section">
            <div class="container text-center">
                <h2 class="text-center mb-5">Educational Videos</h2>
                <div class="video-container row row-cols-4">
                    <div class="video-card col">
                        <h3>Mesntrual Health of India</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ToLIii2wC4I?si=j-0ZFlYFYaV_fVrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="video-card col">
                        <h3>10 Yoga Poses to cure periods </h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/3YzSpRncW4s?si=MQLhx36ueMmYHe0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>


                    <div class="video-card col">
                        <h3>16 Best Hygiene Tips that you should know</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6xUqcCbfjeY?si=ufz-0v_UGTjV5REg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="video-card col">
                        <h3>Health and Diet for PCOS</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/M1Ed9i3jkHo?si=e6XqGms7uEpMY9kA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="video-card col">
                        <h3>Your Menstrual Cycles Explained</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/spe_mto4gFk?si=yYFaectGX9kX-Cmh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="video-card col">
                        <h3>Avoid These Foods During Periods </h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/E-8gvJlkY8c?si=Dk8yHMwLy_7RXepg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="video-card col">
                        <h3>What is PCOD and PCOS ? </h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/CCVcTtLQC9U?si=OC9OZz-Azm2XzG5-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="video-card col">
                        <h3>Your Menstrual Cycle is your superpower</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/BFa2egx-jI8?si=qVHPfqGukkrrFgJl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </section>

        <section class="questions-section">

            

            <div class="container">
                <h2>Common Questions</h2>
                <!-- Dynamic Questions (to be fetched from the database) -->

                <div class="question">
                    <p class=" d-inline-flex gap-1">
                        <a class="d-flex justify-content-between align-items-center btn p-3" data-bs-toggle="collapse" href="#ques1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What is a normal menstrual cycle?  <i class="fa-solid fa-plus"></i>
                            
                        </a>
                    </p>
                      <div class="collapse" id="ques1">
                        <div class="card card-body">
                            The menstrual cycle typically lasts between 21 to 35 days, with bleeding lasting 2 to 7 days. Regularity, flow intensity, and symptoms can vary among individuals. It's important to track your cycle to identify any unusual changes.
                        </div>
                      </div>
                </div>

                <div class="question">
                    <p class=" d-inline-flex gap-1">
                        <a class="d-flex justify-content-between align-items-center  p-3 btn" data-bs-toggle="collapse" href="#ques2" role="button" aria-expanded="false" aria-controls="collapseExample">
                             What causes irregular periods?  <i class="fa-solid fa-plus"></i>
                        </a>
                    </p>
                      <div class="collapse" id="ques2">
                        <div class="card card-body">
                            Irregular periods can result from hormonal imbalances, stress, significant weight changes, excessive exercise, or underlying conditions like PCOS (Polycystic Ovary Syndrome). Consult a healthcare professional if irregularities persist.
                        </div>
                      </div>
                </div>


                <div class="question">
                    <p class=" d-inline-flex gap-1">
                        <a class="d-flex justify-content-between align-items-center p-3 btn" data-bs-toggle="collapse" href="#ques3" role="button" aria-expanded="false" aria-controls="collapseExample">
                            How can I relieve menstrual cramps?   <i class="fa-solid fa-plus"></i>
                        </a>
                    </p>
                      <div class="collapse" id="ques3">
                        <div class="card card-body">
                            Menstrual cramps can be eased with heat therapy (using a heating pad), over-the-counter pain relievers, hydration, light exercise, or relaxation techniques like yoga. Severe cramps may require medical evaluation.
                        </div>
                      </div>
                </div>

                <div class="question">
                    <p class=" d-inline-flex gap-1">
                        <a class="d-flex justify-content-between align-items-center p-3 btn " data-bs-toggle="collapse" href="#ques4" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What foods should I eat or avoid during my period?   <i class="fa-solid fa-plus"></i>
                        </a>
                    </p>
                      <div class="collapse" id="ques4">
                        <div class="card card-body">
                            Foods rich in iron (like spinach and lentils), magnesium (like nuts and seeds), and omega-3 fatty acids can help reduce symptoms. Avoid caffeine, salty foods, and processed snacks, as they can worsen bloating and discomfort.
                        </div>
                      </div>
                </div>

                <div class="question">
                    <p class=" d-inline-flex gap-1">
                        <a class="d-flex justify-content-between align-items-center p-3 btn " data-bs-toggle="collapse" href="#ques5" role="button" aria-expanded="false" aria-controls="collapseExample">
                            What are the signs of a serious menstrual problem?   <i class="fa-solid fa-plus"></i>
                        </a>
                    </p>
                      <div class="collapse" id="ques5">
                        <div class="card card-body">
                            Signs include periods lasting longer than 7 days, extremely heavy bleeding (changing pads or tampons every 1-2 hours), severe pain unresponsive to medication, or skipped periods for more than 3 months (if not due to pregnancy). These symptoms warrant a doctor's attention.
                        </div>
                      </div>
                </div>
                
            </div>
        </section>


       
        <section class="facts-myths">
            <h2>Facts vs Myths about Menstrual Health</h2>
    
            <div class="fact-myth-container">
                <div class="fact">
                    <span class="icon">&#10004;</span>
                    <p>Menstrual cramps can be managed with over-the-counter pain relievers and heat therapy.</p>
                </div>
    
                <div class="myth">
                    <span class="icon">&#10008;</span>
                    <p>Menstrual cramps are only caused by stress and anxiety.</p>
                </div>
            </div>
            
            
            <div class="fact-myth-container">
                <div class="fact">
                    <span class="icon">&#10004;</span>
                    <p>Periods generally last between 2 to 7 days.</p>
                </div>
    
                <div class="myth">
                    <span class="icon">&#10008;</span>
                    <p>It’s normal for periods to last more than 10 days.</p>
                </div>
            </div>
            
            <div class="fact-myth-container">
                <div class="fact">
                    <span class="icon">&#10004;</span>
                    <p>Tracking your menstrual cycle can help you understand your health better.</p>
                </div>
    
                <div class="myth">
                    <span class="icon">&#10008;</span>
                    <p>Tracking your menstrual cycle is unnecessary and doesn’t offer any health benefits.</p>
                </div>
            </div>
        </section>

        
        

        <section class="quote-section">
            <div class="container">
                <blockquote>
                    "Menstrual health is more than just a cycle; it's about taking care of your overall well-being every
                    day."
                </blockquote>
                <footer>- Ayush soni</footer>
            </div>
        </section>

    </body>

    </html>