<% layout("/layouts/boilerplate") -%>

  <body style="background-color: pink;">
    <h1>This is the home page of the website</h1>
    <div class="card-container">

      <div class="card" style="width: 25rem; height : 25rem">
        <img src="/images/introimage.jpeg" class="card-img-top" alt="menstrual-cycle">
        <div class="card-body">
          <h5 class="card-title">Menstrual Cycle Tracker</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/period-calculator" class="btn btn-primary">Let's Explore</a>
        </div>
      </div>

      <div class="card" style="width: 25rem; height : 25rem">
        <img src="/images/introimage.jpeg" class="card-img-top" alt="symptom-based-solutions">
        <div class="card-body">
          <h5 class="card-title">Symptom Based Solutions</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="/symptoms" class="btn btn-primary">Let's Explore</a>
        </div>
      </div>

      <div class="card" style="width: 25rem; height : 25rem">
        <img src="/images/introimage.jpeg" class="card-img-top" alt="community-chat">
        <div class="card-body">
          <h5 class="card-title">Community Chat</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary">Let's Explore</a>
        </div>
      </div>

      <div class="card" style="width: 25rem; height : 25rem">
        <img src="/images/introimage.jpeg" class="card-img-top" alt="educational-content">
        <div class="card-body">
          <h5 class="card-title">Educational Content</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary">Let's Explore</a>
        </div>
      </div>

    </div>

  </body>