<% layout("/layouts/boilerplate") -%>
 <link rel="stylesheet" href="/css/readmore.css">
<body>

    <section >
        <div class="img-box"><img  src="/images/calm-girl.jpg"></div>
        <div class="symptoms" >
            <h1>Symptom Based Solutions</h1>
            <p> With our Symptom-Based Solutions feature, users receive tailored advice and remedies based on their
                specific symptoms, from cramps to headaches. This provides personalized comfort tips, allowing users to
                manage discomfort and take proactive steps toward better well-being.</p>
        </div>
        
    </section>

    <section >
        
        <div class="period-cal">
            <h1>Period Calculator</h1>
            <p>  With our Menstrual Cycle & Mood Tracker, you can easily log your cycle dates, moods, and daily health
                insights. Get personalized predictions and understand patterns in your cycle, empowering you to manage
                your health with confidence and ease.</p>
        </div>
        <div class="img-box"><img  src="/images/calm-girl.jpg"></div>
        
    </section>

    <section>
        <div class="img-box"><img  src="/images/calm-girl.jpg"></div>
        <div  class="education">
            <h1>Educational Content</h1>
            <p>The Health Education Section offers comprehensive resources to help users understand and manage their
                well-being. Covering topics from menstrual health to holistic wellness, it empowers users with knowledge
                for making informed, proactive health choices.</p>
        </div>
        
    </section>

    <section >
        
        <div class="community">
            <h1>Community Discussion Chats</h1>
            <p> The Community Discussion Chats feature provides a safe and supportive space for users to connect, share
                experiences, and exchange tips. By fostering open conversations, it encourages learning and camaraderie
                among individuals with similar wellness goals.</p>
        </div>
        <div class="img-box"><img  src="/images/calm-girl.jpg"></div>
        
    </section>

</body>

</html>