<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Design Example</title>
    <link rel="stylesheet" href="/css/intro.css">
</head>
<!-- <%# layout('/layouts/boilerplate') -%> -->

<body>
    <header>
        <nav class="nav-container">
        
            <div class="logo-box"><img width="200px"src="/images/syncoracutout.png"></div>
            <div class="buttons">
                <button onclick="window.location.href='/login'" class="login-button">Login</button>
                <button onclick="window.location.href='/register'" class="register-button">Register</button>
            </div>

        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="intro-headings">
                <div>
                    <h1>Track, Learn, Connect</h1>
                    <h4>- All in one place</h4>
                </div>

                <p>Empowering your menstrual health with insights, solutions, and a community of support.</p>
                <a href="/readmore"><button class="explore-button">Read More</button></a>
            </div>

            <div class="intro-image">
                <img class="girl-image" alt="An image of girl depecting the idea of syncora"
                    src="/images/introimage.jpeg">
            </div>



        </section>
    </main>


    <!-- page 2 -->
    <section class="page-2">
        <h1>FEATURES OF SYNCORA</h1>
        </div>
        <div class="container">
            <div class="layer-1">
                <div class="feature">
                    <div class="image-box gradient-border">
                        <img src="/images/Menstrual-cycle.jpeg" alt="Menstrual Cycle & Mood Tracker">
                    </div>
                    <p>Period Calculator</p>
                </div>
                <div class="feature">
                    <div class="image-box">
                        <img src="/images/symptom-intro.jpeg" alt="System Based Solutions">
                    </div>
                    <p>System Based Solutions</p>
                </div>
                <!-- <div class="feature">
                    <div class="image-box">
                        <img src="/images/Menstrual-cycle.jpeg" alt="Medicine & Ayurvedic Remedies">
                    </div>
                    <p>Medicine & Ayurvedic Remedies</p>
                </div> -->

                <div class="feature">
                    <div class="image-box">
                        <img src="/images/community-intro.jpg" alt="Community Discussion Chats">
                    </div>
                    <p>Community Discussion Chats</p>
                </div>
                <div class="feature">
                    <div class="image-box">
                        <img src="/images/education-intro.jpg" alt="Health Education Section">
                    </div>
                    <p>Health Education Section</p>
                </div>
            </div>

        </div>
    </section>





    <!-- Page 3 -->

    <section>
        <div class="page-3">
            <div class="why-syncora">
                <h1>Why Choose Syncora ?</h1>
            <p>Syncora isn't just a platform; it’s a companion for your menstrual health journey. Designed with care and backed by science, we provide tools like a mood tracker, personalized symptom relief, and expert insights to make your cycle management seamless. Dive into a supportive community, explore holistic remedies, and access a curated library of resources to feel empowered every day. With SynCora, you’re choosing more than convenience — you’re choosing a healthier, happier, and more informed you!</p>
            </div>
            
            <div><img class="page-3-img" src="/images/whysyncora.jpg"></div>
        </div>
       
    </section>

    <section class="page-4">
        <div><img class="page-4-img" src="/images/mission21_enhanced.jpeg"></div>
        <div class="why-syncora">
            <h1>Our Mission</h1>
            <p>We believe that empowering women with the right tools and insights can transform how they manage their
                health. Syncora is built to provide a holistic approach, combining data-driven insights, community
                engagement, and natural remedies.</p>
        </div>
        
    </section>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css"
        integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="f-social-info">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
    
            </div>
            <div class="f-tag">&#169; Syncora Private Limited</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms"> Terms&Conditions </a>
            </div>
        </div>
    </footer>
</body>
</html>