

    <!-- <div class="row mt-3">
        <div class="col-6 offset-3">

            <h1 class="col-8 offset-3">Login Syncora</h1>

            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">User name</label>
                    <input name="username" type="text" class="form-control" id="username" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
    
                <div class="mb-3">
                    <label for="password" class="form-label">Create Password</label>
                    <input name="password" type="text" class="form-control" id="password" required>
                    <div class="valid-feedback">Nice Password!</div>
                </div>
    
                <button type="submit" class="btn btn-dark mb-3">Log in</button>

                
            </form>

            <a class="col-6" href="/register"><button type="submit" class="btn btn-danger mb-3">New on Syncora?</button></a>

            
        </div>
    </div> -->

    <% layout("/layouts/boilerplate") -%>

<!-- <style>
  body {
    background-image: url("/images/loginback1.svg"); 
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
</style> -->

<div class="row mt-5">
  <div class="col-6 offset-3">
    <!-- Wrapper div with semi-transparent background -->
    <div
      class="p-4"
      style="
        background: linear-gradient(
          rgba(150, 132, 241, 0.9),
          rgba(159, 148, 229, 0.5),
          rgba(225, 77, 156, 0.7)
        );
        border-radius: 30px;
      "
    >
      <h1 class="col-8 offset-3 text-black">Login Syncora</h1>

      <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label text-black">User name</label>
          <input
            name="username"
            type="text"
            class="form-control"
            id="username"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label text-black"
            >Enter Password</label
          >
          <input
            name="password"
            type="text"
            class="form-control"
            id="password"
            required
          />
          <div class="valid-feedback">Nice Password!</div>
        </div>

        

        <div class="row login-buttons">
            <button type="submit" class="btn .loginbtns btn-outline-dark col-3 mb-3">Log in</button>
            <a class="col-6" href="/register">
                <button type="button" class="btn btn-outline-primary mb-3">
                  New on Syncora?
                </button>
              </a>
        </div>
        
      </form>

      
    </div>
  </div>
</div>