<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
    <div class="col-6 offset-3">

        <h1 class="col-8 offset-3">SignUp on Syncora</h1>

        <form action="/register" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="username" required>
                <div class="valid-feedback">Username looks good!</div>
            </div>

            <div class="row">
                <div class="mb-3 col-6">
                    <label for="firstname" class="form-label">First Name</label>
                    <input name="firstname" type="text" class="form-control" id="firstname" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
    
                <div class="mb-3 col-6">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input name="lastname" type="text" class="form-control" id="lastname" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="emailaddress" class="form-label">Email address</label>
                <input name="emailaddress" type="text" class="form-control" id="emailaddress" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Create Password</label>
                <input name="password" type="text" class="form-control" id="password" required>
                <div class="valid-feedback">Nice Password!</div>
            </div>

            <div class="row">
                <div class="mb-3 col-6">
                    <label for="phone" class="form-label">Mobile Number</label>
                    <input name="phone" type="text" class="form-control" id="phone" required>
            
                </div>
    
                <div class="mb-3 col-6">
                    <label for="age" class="form-label">Age</label>
                    <input name="age" type="text" class="form-control" id="age" required>
                   
                </div>
            </div>
            
            

            <button type="submit" class="btn btn-dark mb-3">SignUp</button>
        </form>
    </div>
</div>